<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- With Colors -->
            <pattern>[%date] %logger%n %highlight([%-5level][%logger{0}] %message) %n%xException</pattern>
            <!-- Without Colors -->
            <!-- <pattern>[%-5level][%date][%logger{0}] %message%n%xException</pattern> -->
        </encoder>
    </appender>

    <logger name="org.scalatest" level="OFF" />
    <logger name="work.martins.simon.expect" level="warn" />

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>